	body,html {padding: 0; margin: 0}
		header h1 { text-align:center;
		font-family: arial, helvetica;
		font-size: 30px;
		}
		header {background-color: #878787;
		color: #fff; padding: 20px 40px; width: 100%; box-sizing: border-box;}

		nav { background-color: #AD3DCB; padding: 15px 0; border: solid; border-color: #878787}

		nav a {color: #000; font-size: 19px; text-decoration: none;}
		nav ul {list-style-type:none;}
		nav ul li {display: inline-block}
		ul{text-align: center;}
		nav li{
			font-size: 20px;
			padding-right: 50px;
			padding-left: 50px;
		   }
		aside{
			background-color: #AD3DCB;border: solid; 
			border-color: #878787;
			display: block;
			float: right;
			width: 250px;
			
		}
		.ul{display: block; list-style-type: circle;}
		.a{
			text-decoration:underline;
			color: #0000FF;
		}
		.re_list{
			list-style-type: circle;
			display: block;
			padding-left: 0;
			padding-right: 0;
			text-align: left;
		}
